<h1>Pneuma Coin</h1>
<h3>A rural entrepreneurial team crowdfunder for developing communities. Karass platform as student evaluator, matchmaker, moocs mentor and crowdfunder</h3>
<h3>crypto economic ecosystem for education, mentoring and forming entrepreneurial teams in endangered rural communities. 
International volunteers validating students for aptitude, personality and skills, for online mentoring and crowdfunding.</h3>
<hr>
<h2>Why</h2>
<p>Rural economic wastelands lacking education, relevant skill training and entrepreneurship direction. A bad or lack of service at a high cost and corruption.
Land flight and Brain Drain, , lack of local mentors, lack of qualifed teams, lack of information
yet an abundance of opportunities, and plenty of Good will of local and diaspora expat investors.</p>  
<h2>What</h2>
<p>Pneuma coin = International Volunteers testing rural students aptitude  &amp; personality + online entrepreneurship mentoring
&amp; internet crowdfunding. For example creating opportunities for rural China’s lost generation of left behind children.</p>

<p>Todo: show crypto flow from blockchained Aptitude, big ten personality and skill transcripts to crowdfunding of matched entrepreneurial teams.</p> 
<h2>Where</h2>
<h3>Pilot Programs:</h3>
<ol>
<li>Dobersberg, Waldviertel Austria - contact Gerhard Diesner</li>
<li>Drohobych, Lviv Oblast, Ukraine - contact Prof. Lopuschanskyj</li>
<li>TBD Shanghai, China - contact Kirk Zhang at SIICFM-LINHUI</li>
<li>TBD South Africa</li>
</ol>
<h2>Who</h2>
<h3>Development TEAM</h3>
<ul>
    <li>Charles Finney</li>
    <li>Michael Schreiber</li>
    <li>Anatoly Burov</li>
    <li>Timothy Roosevelt</li>
    <li>Shelby White</li>
    <li>Robert Baranowski</li>
    <li>Ralph Pichler</li>
</ul>

<h3>Mentor Advisory board</h3>
<ul>
    <li>Bogdan Lisovich</li>
    <li>[Igor Arvid Trubin](http://trub.in/)</li>
    <li>Matt Vis</li>
    <li>Tony Campbell</li>
    <li>Bill Hanks</li>
    <li>Nardoni</li>
    
</ul>
<h2>When</h2>
4Q 2018
<h2>How</h2>
Todo fundraising ICO, organizing international Volunteers, tamperproof ML testing system, tech literacy curriculum, 
student selection, online mentor selection.
entrepreneurial team matching. extras Laissez Passer Crpto-art festival and global self-sovern identity platform, 
Mobile cyber classroom bus etc. start with "charcoal &amp; watercolor" Shanghai prototype 
<h2>User Stories</h2>
<ul>
    <li>Servitors</li>
    <li>Mentors</li>
    <li>Maecenas</li>
    <li>Int. Volunteer Proctors</li>
    <li>Karass</li>
    <li>Crypto Keiretsu</li>
    <li>Regional Legatus</li>
</ul>
 
